metadata:
  name: website-ingress
spec:
  rules:
    - host: dev.ahmedsayedtalib.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: website
                port:
                  number: 80
